@model Gymany.Models.Post
@{
    ViewData["Title"] = "CreatePost";
}
@{
    Layout = "PTLayout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div style="padding-top: 50px;"></div>
<div class="row bg-light p-12">
    <div class="col-md-12">
        <form asp-action="CreatePost">
            <div class="form-group">
                <label asp-for="Title" class="control-label h3"></label>
                <input asp-for="Title" class="form-control form-control-lg" />
                 <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label h3"></label>
                <input readonly type="date" asp-for="Date" class="form-control form-control-lg" />
                 <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label h3"></label>
                <textarea id="Content" asp-for="Content" class="form-control form-control-lg text-justify"></textarea>
                 <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label h3"></label>
                <input asp-for="Image" class="form-control form-control-lg" />
                 <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!-- Sử dụng trường ẩn để lưu trữ giá trị PTID -->
                <input type="hidden" asp-for="PTID" class="form-control form-control-lg" value="@ViewBag.PTID" />
            </div>
            <div class="form-group">
                <input type="hidden" readonly asp-for="StaffID" class="form-control form-control-lg" value="1" />
            </div>
            <div class="card-footer d-flex justify-content-center"> 
                <button type="submit" class="btn btn-primary btn-lg">Create</button>
            </div>
        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var currentDate = new Date().toISOString().substr(0, 10);
        document.getElementById('Date').value = currentDate;
    });
</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        ClassicEditor
            .create(document.querySelector('#Content'))
            .catch(error => {
                console.error(error);
            });
    });
</script>
