@model Gymany.Models.Post
@{
    ViewData["Title"] = "DeletePost";
}
@{
    Layout = "PTLayout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div style="padding-top: 50px;"></div>
<h1 class="text-white text-center">DO YOU WANT TO DELETE THTS POST?</h1>
<hr>
<div class="container bg-black mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-dark text-white mb-4">
                <div class="card-header">
                    <h2 class="card-title">@Html.DisplayFor(model => model.Title)</h2>
                    <p class="card-text"><small class="text-muted">@Html.DisplayFor(model => model.Date)</small></p>
                </div>
                <div class="card-body">
                    <img src="@Html.DisplayFor(model => model.Image)" class="img-fluid mb-3" alt="Illustration">
                    <p class="card-text">@Html.DisplayFor(model => model.Content)</p>
                </div>
                <div class="card-footer d-flex justify-content-center">
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
    <form asp-action="DeletePost">
        <input type="hidden" asp-for="PostID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="PostManage">Back to List</a>
    </form>

