@model Gymany.Models.PersonalTrainer
@{
    ViewData["Title"] = "Form";
}
@{
    Layout = "PTLayout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<style>

</style>
<div class="container">
    <div class="row justify-content-center" style="padding-top: 50px;">
        <div class="col-md-6">
            <div class="card-header bg text-white text-center display-4" style="background:#343a40;">PT LOGIN</div>
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <form id="loginForm" asp-action="PTLogin" onsubmit="return validateForm()">
                        <div class="form-group">
                            <label for="email" class="h5"><b>Email:</b></label>
                            <input type="text" class="form-control form-control-lg" id="email" name="email">
                            <div id="emailError" class="text-danger"></div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="h5"><b>Password:</b></label>
                            <input type="password" class="form-control form-control-lg" id="password" name="password">
                            <div id="passwordError" class="text-danger"></div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg"><b>LOGIN</b></button>
                        <div id="loginMessage" class="text-danger"></div>
                    </form>
                </div>
            </div>
            <hr>
            <div class="text-center">
                <a asp-area="PT" asp-action="BackToLogin" class="btn btn-outline-primary btn-primary">Back</a>
            </div>
        </div>
    </div>
</div>
<script>
    function saveErrorMessage(message) {
        var errorMessage = {
            message: message,
            timestamp: new Date().getTime() + 2000 // Thời gian hiển thị là 2 giây
        };
        localStorage.setItem('errorMessage', JSON.stringify(errorMessage));
    }

    document.getElementById("loginForm").addEventListener("submit", function(event) {
        var username = document.getElementById("email").value;
        var password = document.getElementById("password").value;
        var usernameError = document.getElementById("emailError");
        var passwordError = document.getElementById("passwordError");
        var loginMessage = document.getElementById("loginMessage");
        usernameError.textContent = "";
        passwordError.textContent = "";
        loginMessage.textContent = "";
        if (username.trim() === "") {
            usernameError.textContent = "Please enter your username.";
            event.preventDefault();
        }
        if (password.trim() === "") {
            passwordError.textContent = "Please enter your password.";
            event.preventDefault();
        } else {
            saveErrorMessage("Incorrect username or password.");
        }
    });

    // Function to display login error message from localStorage
    window.addEventListener("load", function() {
        var errorMessage = JSON.parse(localStorage.getItem('errorMessage'));
        if (errorMessage && errorMessage.timestamp > new Date().getTime()) {
            var loginMessage = document.getElementById("loginMessage");
            loginMessage.textContent = errorMessage.message;
        }
        localStorage.removeItem('errorMessage'); // Xóa thông báo sau khi đã hiển thị
    });
</script>
