@{
    ViewData["Title"] = "MemberDetail";
}
@{
    Layout = "PTLayout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1 class="text-white">TÔI CHƯA LẤY ĐC DETAIL TỪNG THẰNG ĐƯỢC NỮA T LÀM SAU </h1>
<div class="container">
    <table class="table bg-white shadow">
        <thead class="thead-dark">
            <tr>
                <th>
                    <label>Id</label>
                </th>
                <th>
                    <label>Date</label>
                </th>
                <th>
                    <label>Status</label>
                </th>
                <th>
                    <label></label>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <span> @item.CustomerID</span>
                    </td>
                    <td>
                        <span> @item.Username</span>
                    </td>
                    <td>
                        <span> @item.Password</span>
                    </td>
                    <td>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>