@{
    ViewData["Title"] = "PTLogin";
}
@{
    Layout="PTLayout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<style>
    
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card-header bg text-white text-center display-4">PT LOGIN</div>
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <form asp-action="PTLogin">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="email" name="email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="text" class="form-control" id="password" name="password">
                        </div>
                        <button type="submit" class="btn btn-primary">LOGIN</button>
                    </form>
                </div>
            </div>
            <hr>
            <div class="text-center">
                <a asp-area="PT" asp-controller="PT" asp-action="PTRegister" class="btn btn-outline-primary btn-primary">Register</a>
                <a asp-area="PT" asp-action="BackToLogin" class="btn btn-outline-primary btn-primary">Back</a>
            </div>
        </div>
    </div>
</div>
