@{
    ViewData["Title"] = "PTProfile";
}
@{
    Layout="PTLayout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>ĐÂY LÀ PT PROFILE</h1>
<form asp-action="DeleteSession">
    <a asp-area="PT" asp-action="DeleteSession" type="submit" class="btn btn-primary">LOGOUT</a>
</form>