@model Gymany.Models.PersonalTrainer
@{
    ViewData["Title"] = "DeletePtAccount";
}
@{
    Layout = "GymOwnerLayout";
}
@* declare tag helper in areas *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form asp-action="DeletePtAccount" method="post">
    <input type="hidden" asp-for="PTID" />
    <div class="text-center">
        <h2 class="display-4">Are You Want to delete this Personal Trainer accout</h2>
    </div>
    <div class="text-center">
        <button type="submit">Delete</button> Or <a asp-action="PersonalTrainer" asp-controller="GymOwner"
            class="btn btn-danger">Back to Personal Trainer</a>
    </div>


</form>