@model Gymany.Models.Category
@{
    ViewData["Title"] = "DeleteCategory";
}
@{
    Layout = "GymOwnerLayout";
}
@* declare tag helper in areas *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form asp-action="DeleteCategory" method="post">
    <input type="hidden" asp-for="CategoryID" />
    <div class="text-center">
        <h2 class="display-4">Are You Want to delete this Category</h2>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-danger">Delete</button> Or <a asp-action="Category"
            asp-controller="GymOwner" class="btn btn-success">Back to Product</a>
    </div>


</form>