@model Gymany.Models.Post

@{
    Layout = "GymOwnerLayout";
}
@* declare tag helper in areas *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form asp-action="DeletePost" method="post">
    <input type="hidden" asp-for="PostID" />
     <div class="text-center">
        <h2 class="display-4">Are You Want to delete this Post</h2>
    </div>
    <div class="text-center">
         <button type="submit" class="btn btn-danger">Delete</button> Or <a asp-action="Post" asp-controller="GymOwner" class="btn btn-success">Back to Post</a>
    </div>
   

</form>