@model Gymany.Models.Post
@{
    ViewData["Title"] = "UpdatePost";
}
@* using layout of Gymowner *@
@{
    Layout = "GymManageLayout";
}


@* declare tag helper in areas *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<style>
    .container-fluid {
        margin-left: 12rem;
    }
</style>
<div class="text-center">
    <h2 class="display-4">Update Post</h2>
</div>
<form asp-controller="GymOwner" asp-action="UpdatePost" method="post" class="container">

    <div class="form-group row">
        <label asp-for="PostID" class="col-sm-2 col-form-label">Post ID:</label>
        <div class="col-sm-10">
            <input type="text" asp-for="PostID" value="@ViewBag.PostID" class="form-control" readonly>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Date" class="col-sm-2 col-form-label">Date:</label>
        <div class="col-sm-10">
            <input type="date" asp-for="Date" class="form-control" required>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Content" class="col-sm-2 col-form-label">Content:</label>
        <div class="col-sm-10">
            <textarea asp-for="Content" class="form-control" rows="4" required></textarea>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Title" class="col-sm-2 col-form-label">Title:</label>
        <div class="col-sm-10">
            <input type="text" asp-for="Title" class="form-control" required>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Image" class="col-sm-2 col-form-label">Image:</label>
        <div class="col-sm-10">
            <input type="text" asp-for="Image" class="form-control" required>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="PTID" class="col-sm-2 col-form-label">Personal Trainer Name:</label>
        <div class="col-sm-10">
            <select asp-for="PTID" class="form-control" asp-items="@ViewBag.Name"></select>
            <span asp-validation-for="PTID" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="StaffID" class="col-sm-2 col-form-label">Staff Name:</label>
        <div class="col-sm-10">
            <select asp-for="StaffID" class="form-control" asp-items="@ViewBag.NameStaff"></select>
            <span asp-validation-for="StaffID" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <input type="submit" value="Update" class="btn btn-primary">
            <a asp-action="Post" asp-controller="GymOwner" class="btn btn-danger">Back to Posts</a>
        </div>
    </div>
</form>
