@model Gymany.Models.Category
@{
    ViewData["Title"] = "UpdateCategory";
}

@{
    Layout = "GymOwnerLayout";
}
@* declare tag helper in areas *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="text-center">
    <h2 class="display-4">Update Category</h2>
</div>
<form asp-controller="GymOwner" asp-action="UpdateCategory" method="post" class="container" style="max-width: 1100px;">

    <div class="form-group row">
        <label asp-for="CategoryID" class="col-sm-2 col-form-label">Category ID:</label>
        <div class="col-sm-10">
            <input type="text" asp-for="CategoryID" class="form-control" readonly>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Type" class="col-sm-2 col-form-label">Type:</label>
        <div class="col-sm-10">
            <input type="text" asp-for="Type" class="form-control" required>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Description" class="col-sm-2 col-form-label">Description:</label>
        <div class="col-sm-10">
            <input type="text" asp-for="Description" class="form-control" required>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <input type="submit" value="Update" class="btn btn-primary">
            <a asp-action="Category" asp-controller="GymOwner" class="btn btn-danger" style="color: #fff;">Back to
                Category</a>
        </div>

    </div>
</form>