@{
    ViewData["Title"] = "ForgotPassword";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6" style="margin-top: 40px;">
            <div class="card-header text-light text-center display-4" style="background: #343a40;">FORGOT PASSWORD</div>
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <form id="loginForm" action="FogotPassword" method="post">
                        <div class="form-group">
                            <label for="email">Enter Email to reset password:</label>
                            <input type="text" class="form-control" id="emailInput" name="email">
                            <div id="emailError" class="text-danger"></div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <div id="submitError" class="text-danger"></div>
                </div>
                @if (ViewData["Error"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewData["Error"]
                    </div>
<<<<<<< HEAD
                </div>
                <hr>
                <div class="text-center">
                    <a href="Form" class="btn btn-outline-primary btn-primary">LOGIN</a>
                </div>
            </div>
        </div>
    </div>
=======
                }
            </div>
            <hr>
            <div class="text-center">
                <a href="Form" class="btn btn-outline-primary btn-primary">Back</a>
            </div>
        </div>
    </div>
</div>
>>>>>>> main
