@model Gymany.Models.ListModels
@{
    ViewData["Title"] = "JoinMember";
}


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



<div class="container">
    <div class="row justify-content-center" style="padding-top: 50px;">
        <div class="col-md-6">
            <div class="card-header bg text-white text-center display-4" style="background:#343a40; font-size: 24px;">
                Register Member</div>
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <p>You want to become Member of us?</p>
                    <p><a href="#">You need pay 200kVND/1 month to join us!</a></p>
                    <p>Click button below to register</p>
                    <form asp-action="JoinMember">
                        <div class="form-group">
                            <input id="Date" type="date" asp-for="@Model.member.Date"
                                class="form-control form-control-lg" readonly style="display: none;"/>
                        </div>
                        <div class="form-group">
                            <input asp-for="@Model.member.Status" class="form-control form-control-lg text-justify"
                                value="Waiting" type="hidden"/>
                        </div>
                        <input type="hidden" asp-for="@Model.member.CustomerID"
                            class="form-control form-control-lg text-justify" value="@ViewBag.cusID" />
                        <button type="submit" class="btn btn-primary btn-lg">Go to payment process</button>
                    </form>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var currentDate = new Date().toISOString().substr(0, 10);
        document.getElementById('Date').value = currentDate;
    });
</script>
