@{
    ViewData["Title"] = "PTLogin";
}
<form asp-action="PTLogin">
    Username: <input type="text">
    <br>
    Password: <input type="text">
    <br>
    <button type="submit">LOGIN</button>
</form>
<hr>
<a asp-action="Login" class="btn btn-outline-primary">Back</a>